.pagination {
    display: flex;
    justify-content: center;
}
.search {
    margin-left: 0.2vw;
}
label.error {
    color: red;
    font-size: 14px;
}
select {
    height: 36px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
#error-file-create,
#error-file-edit {
    color: red;
    font-size: 14px;
    font-weight: 700;
}
.input-group {
    padding-left: 0px;
}
.form-control {
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
}
