label.error {
    color: red;
    font-size: 14px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.search {
    margin-left: 0.2vw;
}

select {
    height: 36px;
    border: 1px solid #ced4da;
}
